<!DOCTYPE html>
<html>
  <head>
    <title>MusicConcertApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class="head">
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-sm-12">
		  		<h1><%= link_to 'Music Concerts WebApp', '/', class: "nounderline" %></h1>
	  		</div>
		  </div>
	  </div>
      <hr>
  	</header>
    <%= yield %>
  
    <footer class="foot">
        <hr>
  	<div class="container-fluid">
  		<div class="row">
				<div class="col-sm-3">
					<h6>App Powered by Ruby on Rails</h6>
				</div>
				<div class="col-sm-6">
				</div>
				<div class="col-sm-3">
		    	<h6 class="footerright">Copyright Federico G. De Faveri &copy;
		    	</h6>
		    </div>
		  </div>
		</div>
    </footer>
  </body>
</html>
