<h3>Profile info for user: <%= @contact[0].name %></h3>

<ul>
	<li><strong>NAME:</strong> <%= @contact[0].name %> </li>
	<li><strong>ADDRESS:</strong>  <%= @contact[0].address %> </li>
	<li><strong>PHONE:</strong>  <%= @contact[0].phone_number %> </li>
	<li><strong>EMAIL:</strong>  <%= @contact[0].email %> </li>
</ul>

<%= link_to 'Back To the Contact Directory' , '/' %>