<h3>Project: <%= @my_project.name %></h3>

<p> <%= @my_project.description %> </p>

<%= link_to 'View Time Entries' , "/projects/#{@my_project.id}/time_entries" %>
<br>
<%= link_to "New Time Entry", "/projects/#{@my_project.id}/time_entries/new" %> <br>
<%= link_to "Back to Projects" , "/projects" %>