<h1><%= @my_project.name %></h1>

<ul>

	<% @my_entries.each do |entry| %>
	<li>
		<%= entry.hours %> h
		<%= entry.minutes %> m -
		<%= entry.date %> ->
		"<%= entry.comments %>"
		<%= link_to 'Edit' , "/projects/#{@my_project.id}/time_entries/#{entry.id}/edit"  %>
		<%= link_to('Delete' , "/projects/#{@my_project.id}/time_entries/#{entry.id}", method: :delete, data: {confirm: 'are you sure?'}) %>
	</li>
	<% end %>
</ul>

<%= link_to "New Time Entry", "/projects/#{@my_project.id}/time_entries/new" %> 